/* Base Styles */
.form-container {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  height: 570px;
  width: 1190px;
  background-color: #f5f9f7;
  border: 1px solid #020202;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 200px auto; /* Centered horizontally */
  margin-top: -50px;
}

.form-left {
  flex: 1;
  padding-right: 40px;
}

.form-left h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.make-an,
.impact {
  display: block;
  font-size: 1.3em;
}

.form-left label {
  margin-top: 15px;
  font-size: 0.9em;
}

.form-left input {
  border: none;
  border-bottom: 1px solid #333;
  padding: 8px 0;
  font-size: 1em;
  margin-top: 10px;
  outline: none;
}

.form-right {
  flex: 0.8;
  font-size: 0.9em;
}

.help-options {
  bottom: 90px;
  display: flex;
  flex-direction: column;
  margin: 75px;
}

.additional-content {
  width: 100%;
  margin-top: 150px;
  text-align: left;
}

.additional-content p {
  font-size: 1em;
  color: #070606;
}

.divider-line {
  border: none;
  border-top: 1px solid #141313;
  margin: 10px 0 20px;
}

.submit-button {
  font-size: 1.2em;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px 20px;
  text-align: right;
  transition: color 0.3s ease, margin-left 0.3s ease;
}

.submit-button:hover {
  color: blue;
}

.invisible-input {
  border: none;
  padding: 8px 0;
  font-size: 1em;
  color: #333;
  outline: none;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .form-container {
    flex-direction: column;
    height: auto;
    width: 90%;
    padding: 40px;
  }

  .form-left {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .form-right {
    font-size: 0.85em;
  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }

  .form-left h1 {
    font-size: 2em;
  }

  .make-an,
  .impact {
    font-size: 1.1em;
  }

  .submit-button {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .form-left h1 {
    font-size: 1.8em;
  }

  .make-an,
  .impact {
    font-size: 1em;
  }

  .form-container {
    padding: 10px;
    margin: 50px auto;
  }

  .submit-button {
    font-size: 0.9em;
    padding: 8px 15px;
  }
}
