/* Landing Page Styling */
.landing-page {
  background-image: url('../assets/images00.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
}

.content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.action-button {
  font-size: 1rem;
  color: rgb(248, 248, 248);
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 50px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 0px;
  margin-top: 20px;
}

.action-button:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .content h1 {
      font-size: 3.5rem;
  }

  .content p {
      font-size: 1.3rem;
  }

  .action-button {
      padding: 12px 40px;
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .landing-page {
      height: 60vh;
  }

  .content h1 {
      font-size: 3rem;
  }

  .content p {
      font-size: 1.2rem;
  }

  .action-button {
      padding: 10px 35px;
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .landing-page {
      height: 50vh;
      padding: 10px;
  }

  .content h1 {
      font-size: 2.5rem;
  }

  .content p {
      font-size: 1rem;
  }

  .action-button {
      padding: 8px 30px;
      font-size: 0.75rem;
  }
}
