/* General Container */
.whoweare-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light background for better contrast */
}

/* Banner Section */
.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #f0f0f0;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
}

.banner-text .line {
  display: block;
  width: 160px;
  height: 30px;
  background-color: #004a7f; /* Dark blue */
  margin-bottom: 15px;
}

.banner-text h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
  color: #d1e2ee;
}
.banner-text h2 {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
  color: #004a7f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner {
    height: 400px;
  }

  .banner-text {
    left: 5%;
  }

  .banner-text .line {
    width: 120px;
    height: 20px;
  }

  .banner-text h1, .banner-text h2 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 300px;
  }

  .banner-text {
    left: 5%;
    top: 40%;
    transform: translateY(-40%);
  }

  .banner-text .line {
    width: 100px;
    height: 15px;
  }

  .banner-text h1, .banner-text h2 {
    font-size: 2rem;
  }
}
